<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/plugins/images/favicon.png">
    <title>Reliable-Cabs</title> 

    <!-- ===== Bootstrap CSS ===== -->
     <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- ===== Plugin CSS ===== -->
    <link href="~/Content/plugins/components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href='~/Content/plugins/components/fullcalendar/fullcalendar.css' rel='stylesheet'>
    <!-- ===== Animation CSS ===== -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="~/Content/css/style1.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="~/Content/css/colors/red.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	
	  <!--balu Script Start -->
     <link rel="stylesheet" href="style1.css">
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <!--balu Script End -->
  
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>

<body class="mini-sidebar fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- ===== Top-Navigation ===== -->
       
        <!-- ===== Top-Navigation-End ===== -->
        <!-- ===== Left-Sidebar ===== -->
        <aside class="sidebar1">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">>
                    <ul id="side-menu" style="padding-left:120px;padding-top:10px">
                         <li>
                            <a class=" waves-effect" href="#" aria-expanded="false"><i class=""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span class="hide-menu"> </span></a>
                           
                        </li>
                        <li>
                            <a class=" waves-effect" href="../Dashboard/Index" aria-expanded="false"><i class="icon-grid fa-fw"></i>&nbsp;&nbsp;  <span class="hide-menu"> DashBoard</span></a>
                           
                        </li>
                        <li>
                            <a class=" waves-effect" href="#" aria-expanded="false"><i class=""></i>&nbsp; <span class="hide-menu"> </span></a>
                           
                        </li>
                        <li class="two-column">
                          <a class="waves-effect" href="../Driver/Index"  aria-expanded="false"><i class="icon-notebook fa-fw"></i>&nbsp;&nbsp;  <span class="hide-menu"> Driver </span></a>
                            
                        </li>
                         <li>
                            <a class=" waves-effect" href="#" aria-expanded="false"><i class=""></i>&nbsp; <span class="hide-menu"> </span></a>
                           
                        </li>
                          <li class="two-column">
                            <a class="waves-effect" href="../Subscription/Index" aria-expanded="false"><i class="icon-equalizer fa-fw"></i> &nbsp;&nbsp; <span class="hide-menu"> Subscription</span></a>
                            
                        </li>
                        
                        <li class="two-column">
                             <img src="../Content/plugins/images/logo_reliablecabs.png" alt="home" class="ch1" />
                        </li>
                      
                        <li class="two-column">
                            <a class="waves-effect" href="../SubscriptionTrans/SubscriptionTrans" aria-expanded="false"><i class="icon-layers fa-fw"></i>&nbsp;&nbsp;  <span class="hide-menu">Transactions</span></a>
                            
                        </li>
                         <li>
                            <a class=" waves-effect" href="#" aria-expanded="false"><i class=""></i>&nbsp; <span class="hide-menu"> </span></a>
                           
                        </li>
                         <li class="two-column">
                            <a class="waves-effect" href="../Reports/Index" aria-expanded="false"><i class="icon-layers fa-fw"></i>&nbsp;&nbsp;  <span class="hide-menu">Reports</span></a>
                         </li>
                     <li>
                            <a class=" waves-effect" href="#" aria-expanded="false"><i class=""></i>&nbsp; <span class="hide-menu"> </span></a>
                           
                        </li>

                        <li class="two-column">
                            <a class="waves-effect" href="../Funds/Index" aria-expanded="false"><i class="fa fa-usd fa-fw"></i>&nbsp;&nbsp; <span class="hide-menu">Funds</span></a>
                            
                        </li> 
                        <li class="two-column cvb">
                            <a class="waves-effect" href="javascript:void(0);" aria-expanded="false"><span class="hide-menu cart-box"> <input type="text" class="form-control welcome-carttext" id="Pendingamtnew" readonly="true"> </span></a>
                            
                        </li>
                   @*  <li class="two-column cvb">
                            <a class="waves-effect" href="javascript:void(0);" aria-expanded="false"><span class="hide-menu cart-box"> <input type="text" class="form-control welcome-carttext" id="Pendingamtnew"> </span></a>
                            
                        </li>*@
                       
            
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ===== Left-Sidebar-End ===== -->
            <!-- ===== Left-Sidebar-End ===== -->
		  <!-- =====BALU RIGHT-Sidebar- START ===== -->
		    <div class="btn">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar">
      <div class="text" >
  Reports
          <br />
          </br>
</div>
<ul>

<li>
          <a href="#" class="feat-btn">Driver Mgmt
            <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
<li ><a href="../Report/RptGetAllDrivers?statusid=1">Active Drivers</a></li>
<li><a href="../Report/RptGetAllDrivers?statusid=2">InActive DriVers</a></li>
<li><a href="../Report/RptGetAllDrivers?statusid=3">OnHold DriVers</a></li>
</ul>
</li>
<li>
          <a href="#" class="serv-btn">Transactions
            <span class="fas fa-caret-down second"></span>
          </a>
          <ul class="serv-show">
<li><a href="../Report/RptGetDriverTrans">Detailed Trans</a></li>
<li><a href="#">Eftpos Trans</a></li>
<li><a href="#">Chits Trans</a></li>
<li><a href="#">Rent Trans</a></li>
<li><a href="#">ReturnAmt Trans</a></li>
</ul>
</li>
<li>
<a href="#" class="feat-btn">Finance Mgmt
            <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
<li ><a href="#"">Cash Credited </a></li>
<li><a href="%">Cash Debited </a></li>
@*<li><a href="../Report/RptGetAllDrivers?statusid=3">OnHold DriVers</a></li>*@
</ul>
</li>
@*<li><a href="#">Overview</a></li>
<li><a href="#">Shortcuts</a></li>
<li><a href="#">Feedback</a></li>*@
</ul>
</nav>
		 <!-- =====BALU RIGHT-Sidebar- END ===== -->
        <!-- Page Content -->
        <div class="page-wrapper1">
            <div class="container-fluid">
            
                
        @RenderBody()
   
       
            <footer class="footer t-a-c">
                © 2020 Reliable-Cabs
            </footer>
        </div>
        <!-- /#page-wrapper -->
                 
    </div>
    <!-- /#wrapper -->
    </div>
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="../Content/plugins/components/jquery/dist/jquery.min.js"></script>
    <!-- ===== Bootstrap JavaScript ===== -->
    <script src="../Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ===== Slimscroll JavaScript ===== -->
    <script src="../Content/js/jquery.slimscroll.js"></script>
    <!-- ===== Wave Effects JavaScript ===== -->
    <script src="../Content/js/waves.js"></script>
    <!-- ===== Menu Plugin JavaScript ===== -->
    <script src="../Content/js/sidebarmenu.js"></script>
    <!-- ===== Custom JavaScript ===== -->
    <script src="../Content/js/custom.js"></script>
    <!-- ===== Plugin JS ===== -->
    <script src="../Content/plugins/components/chartist-js/dist/chartist.min.js"></script>
    <script src="../Content/plugins/components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src='../Content/plugins/components/moment/moment.js'></script>
    <script src='../Content/plugins/components/fullcalendar/fullcalendar.js'></script>
    <script src="../Content/js/db2.js"></script>
    <!-- ===== Style Switcher JS ===== -->
    <script src="../Content//plugins/components/styleswitcher/jQuery.style.switcher.js"></script>
	
	
	
	 <!-- ===== Balu Plugin JS Start===== -->
	<script>
	    $('.btn').click(function () {
	        $(this).toggleClass("click");
	        $('.sidebar').toggleClass("show");
	    });
	    $('.feat-btn').click(function () {
	        $('nav ul .feat-show').toggleClass("show");
	        $('nav ul .first').toggleClass("rotate");
	    });
	    $('.serv-btn').click(function () {
	        $('nav ul .serv-show').toggleClass("show1");
	        $('nav ul .second').toggleClass("rotate");
	    });
	    $('nav ul li').click(function () {
	        $(this).addClass("active").siblings().removeClass("active");
	    });

	    $('a1').click(function () {
	        alert("al clicked");
	    });
    </script>
 <!-- ===== Balu Plugin JS End===== -->	
	
	@RenderSection("scripts",false);
	
	
</body>

</html>